@font-face {
    font-family: 'Silkscreen';
    src: url('https://kirito139.github.io/stash/fonts/slkscr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Silkscreen';
    src: url('https://kirito139.github.io/stash/fonts/slkscrb.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}
body {
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
    text-align: center;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: unset;
    
}

footer {
    text-align: center;
    font-size: 8px;
    font-family: Silkscreen;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: unset;
}
